<!DOCTYPE html>

{% load static %}

<html lang="en">
  {% block head %}
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'book_generator/images/favicon.ico' %}" />
  </head>
  {% endblock %}

  <body>
    <div>
      <a href="{% url 'book_generator:index' %}">[Book Generator]</a>
      <a href="{% url 'admin:index' %}">[Admin site]</a>
    </div>

    {% block content %}
    {% endblock %}
  </body>

  <link rel="stylesheet" type="text/css" href="{% static 'book_generator/style.css' %}">
</html>
